/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.avatar {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}
