<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-around center">
  Decentra Mart
  <div fxFlex></div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-button [routerLink]="['/admin']" [disabled]="!user?.isAdmin">
      Admin area
    </button>
    <button mat-button [routerLink]="['/manage-stores']" [disabled]="!user?.isStoreOwner || true">
      Manage stores
    </button>
    <button mat-button [routerLink]="['']">
      Marketplace
    </button>
  </div>
  <div fxFlex></div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div *ngIf="walletConnected && user" fxLayout="row" fxLayoutAlign="center center" class="ethaddress">
      {{user.address}}
      <img *ngIf="user.avatar" src="{{user.avatar}}" class="avatar" alt="avatar" title="avatar">
    </div>
    <div *ngIf="!walletConnected || !user">
      {{web3Status}}
    </div>
  </div>
</mat-toolbar>
