<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-around center">
  Decentra Mart
  <div fxFlex></div>
  <div *ngIf="walletConnected && user" fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-button [routerLink]="['/admin']" [disabled]="!user.isAdmin">
      Admin area
    </button>
    <a [routerLink]="['/admin']">go</a>
    <button mat-button [routerLink]="['/manage-stores']" [disabled]="!user.isStoreOwner">
      Manage stores
    </button>
    <img *ngIf="user.avatar" src="{{user.avatar}}" class="avatar" alt="avatar" title="avatar">
  </div>
  <!-- <div *ngIf="walletConnected && !user" class="error-text" fxLayout="row" fxLayoutAlign="space-around center">
    <span>Wrong network</span>

    <img src="../../assets/q_mark.png" class="avatar" alt="avatar" title="avatar">
  </div>
  <div *ngIf="!walletConnected" class="error-text" fxLayout="row" fxLayoutAlign="space-around center">
    <span>{{web3Status}}</span>

    <img src="../../assets/q_mark.png" class="avatar" alt="avatar" title="avatar">
  </div> -->
</mat-toolbar>
