<div fxFill fxLayout="row">
  <div fxFlex>

  </div>
  <div fxFlex="40" *ngIf="loading" fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/img/loader.svg" height="112px" width="112px" alt="Loader">
  </div>
  <div fxFlex="40" class="margin-top" *ngIf="!loading" fxLayout="column" fxLayoutAlign="start center">
    <h2>Stores</h2>
    <mat-card *ngFor="let store of stores" class="default-card">
      <mat-card-header class="default-card">
        <img mat-card-avatar src="{{store.avatar}}" class="avatar" alt="avatar" title="avatar" />
        <mat-card-title>{{store.name}}</mat-card-title>
        <mat-card-subtitle>{{store.address}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Number of products: {{store.products.length}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openStore(store.address)">VISIT STORE</button>
      </mat-card-actions>
    </mat-card>
    <div *ngIf="stores.length == 0 && error">
      <img [ngClass]="{'animated bounceIn': error }" height="112px;" src="assets/img/red_cross.svg" />
      <br/> Error loading stores
    </div>
    <div *ngIf="stores.length == 0 && !error">
      No stores
    </div>
  </div>
  <div fxFlex></div>
</div>
